.loader{
width: 200px;
height: 200px;
/* background-color: red; */
border: 20px solid #b7df08;
border-top: 20px solid #4ecdc4; 
border-radius: 50%;
animation: spinAnimate 3s ease-in-out 0s infinite normal none;
}

@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}