/* q-1 */
h1{
    text-align: center;
    text-transform: capitalize;
}

/* Q-2 */
*{
    font-family: 'Times New Roman';
}
/* q-3 */
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}